
.font3{
  font-size: 1.3rem;
  color: #ff6f00;
}

.font3:hover{
  color: #eeeeee;
}

.icon{
  color: #ff6f00;
}

.burger{
  color: #ff6f00;
  font-size: 3rem;
}

div.card-panel{
  margin: 1rem 2rem;
}


.pa2{
  padding: 1.2rem;
}

.top3{
  margin-top: 3rem;
}














